.post_header_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 5px;
}

.post_header_info {
  margin-left: 5px;
}

.post_header {
  display: flex;
  align-items: center;
  padding: 15px;
}

.post_header_content h3 {
  align-items: center;
  margin: 0px 5px;
}

.post_header_content h3 span {
  margin-left: 5px;
}

.blueTick {
  color: var(--twitter-color);
}

.post_header_content h5 {
  color: gray;
}

.post_body {
  padding: 5px 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.body_title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}

.body_image {
  margin-bottom: 10px;
}
.body_image img {
  border-radius: 13px;
}

.post_option > .MuiSvgIcon-root {
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
}

.post_option > .MuiSvgIcon-root:hover {
  background-color: var(--twitter-background);
}

.post_option {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.post {
  margin: 10px 5px;
  border-radius: 10px;
  border: 1px solid rgba(189, 179, 179, 0.397);
  box-shadow: 3px 3px 7px 0px #d3cfcf6b;
}
