.announce {
  flex: 0.3;
  margin-left: 20px;
  min-width: 300px;
}
.search {
  background: #ddd;
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin-top: 20px;
  padding: 12px 20px;
}

.search input {
  background: #ddd;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search_icon {
  color: grey;
  margin-left: 5px;
}

.tweet_container {
  background-color: var(--twitter-background);
  margin-top: 20px;
  border-radius: 15px;
  padding: 30px;
}

.container_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
}

.container_title .MuiSvgIcon-root {
  color: gray;
}
.trend {
  margin-top: 10px;
  border-bottom: 1px solid gray;
}

.trend h5 {
  margin: 5px 0px;
  font-weight: 500;
}
.trend h3 {
  cursor: pointer;
}
